<!-- Footer -->
<footer class="footer bg-light text-lg-start mt-5">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <div class="row">
          <div class="col col-sm-auto">
            <img alt="" class="d-inline-block align-top" height="24" src="../../assets/images/plant.png" width="30">
          </div>
          <div class="col col-sm-auto">
            <h5 class="text-uppercase">Plant Community</h5>
          </div>
        </div>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-dark" href="#!">Link 1</a>
          </li>
          <li>
            <a class="text-dark" href="#!">Link 2</a>
          </li>
          <li>
            <a class="text-dark" href="#!">Link 3</a>
          </li>
          <li>
            <a class="text-dark" href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Follow Us</h5>

        <div class="row mt-2">
          <div class="col col-sm-auto">
            <a class="text-dark" href="#!">
              <fa-icon [icon]="['fab', 'facebook']" size="2x" style="color: #3b5998"></fa-icon>
            </a>
          </div>
          <div class="col col-sm-auto">
            <a class="text-dark" href="#!">
              <fa-icon [icon]="['fab', 'twitter']" size="2x" style="color: #00acee"></fa-icon>

            </a>
          </div>
          <div class="col col-sm-auto">
            <a class="text-dark" href="#!">
              <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
            </a>
          </div>
        </div>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
